body {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url(../images/hisp.jpg);
  background-size: cover;
  background-position: bottom;
  display: block;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  margin: 0;
}

.content {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  font-family: 'Quicksand', sans-serif;
  left: 0;
  position: absolute;
  margin: 0.7% 2%;
  right: 0;
  z-index: 2;
  height: 96%;
  padding: 5px 10px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}
h1 {
  color: white;
  font-size:68px;
  font-weight:bold;
  font-family: 'Lobster', cursive;
  text-align: center;
  text-shadow: 1px 1px #1B5A87, 2px 2px #1B5A87, 3px 3px #1B5A87, 4px 4px #1B5A87, 5px 5px #1B5A87;
  margin:0;
  margin-bottom:8%;
}

.add {
  font-size: 25px;
  color: white;
  text-shadow: 0 -.06em .06em #12323D;
  width: auto;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
}

.add input {
  width: 60%;
}

.inputs div {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  border-radius: 5px;
  background-color: white;
  border: 2px solid #55212A;
  padding: 5px;
  box-shadow: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #55212A;
  color: white;
}


/*Add item button styling*/

#addBtn {
  height: 80px;
  width: 180px;
  cursor: pointer;
  font-family: Impact;
  margin: 30px;
  align-content: center;
  color: white;
}

#addBtn .outer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
  -webkit-transform: perspective(500px) rotateX(35deg);
  -moz-transform: perspective(500px) rotateX(35deg);
}

#addBtn .outer .height {
  position: relative;
  height: 100%;
  margin-top: -15px;
  padding-bottom: 15px;
  background: #137A7F;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
  -webkit-transition: all 0.1s ease-in-out;
}

#addBtn:hover .outer .height {
  margin-top: -10px;
  padding-bottom: 10px;
  background: #137A7F;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
}

#addBtn:active .outer .height {
  margin-top: 0px;
  padding-bottom: 0px;
}

#addBtn .outer .height .inner {
  line-height: 2.8em;
  font-size: 30px;
  letter-spacing: .05em;
  position: relative;
  height: 100%;
  text-align: center;
  text-shadow: black 0px 0px 1px;
  background: #137A7F linear-gradient(hsla(0, 0%, 100%, .5), transparent);
  border-radius: 12px;
  box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
  -webkit-transition: all 0.1s ease-in-out;
}

#addBtn:hover .outer .height .inner {
  text-shadow: black 0px 0px 1px;
  background: #137A7F linear-gradient(transparent, hsla(0, 0%, 100%, .5));
}

#addBtn:active .outer .heightrent.inner {
  border-radius: 16px;
  box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
  background: #137A7F linear-gradient(hsla(0, 100%, 0%, .3), hsla(0, 100%, 0%, .1));
}

table,
tr,
td {
  border: 1.5px solid black;
  margin: 0;
  border-collapse: collapse;
  padding: 1px;
}

input {
  font-size: 20px;
  display: inline-block;
  width: 15%;
  border-radius: 2px;
}

.smallBtn {
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  color: #55212A;
  font-size: 15px;
  border: 2px solid #55212A;
  padding: 5px;
  box-shadow: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.smallBtn:hover {
  background-color: #55212A;
  color: white;
}

.smallBtn:active,
.smallBtn:focus,
.smallBtn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.to_pay {
  margin-top:20px;
  color: white;
  font: bold 36px 'Quicksand', Arial, Sans-Serif;
  text-align: left;
  text-shadow: 1px 1px #176883, 2px 2px #176883, 3px 3px #176883, 4px 4px #176883, 5px 5px #176883;
  margin-top:10%;
}

.to_pay p {
  margin: 10px;
  display:inline-block;
}

input {
  font-size: 20px;
  display: inline-block;
  width: 15%;
}
label {
  margin-left:10px;
}
.table {
  height: 350px;
  width:auto;
  overflow: auto;
  box-sizing: border-box;
  text-align: right;
  font-size: 25px;
  color: white;
  font-family: 'Quicksand', Arial, sans-serif;
  text-shadow: 0 -.06em .06em #12323D;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.strike {
  text-decoration: line-through;
}

.strike {
  text-decoration: line-through;
}